.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #11181c;
  color: #a2b3bc;
}

.container {
  margin: 0 auto;
  max-width: 50rem;
  padding: 0 1rem;
  width: 100%;
  margin: 6rem auto 6rem;
  padding: 0 1rem;
}

.main-content {
  margin-top: 3rem;
}

.main-content:first-of-type {
  margin-top: 0;
}

/*Posts Page*/
.post-item {
  padding: 1rem 0;
  border-top: 1px dashed #25323a;
}
.post-item:last-of-type {
  border-bottom: 1px dashed #25323a;
}
.post-item-link {
  color: #1eb58b;
  font-weight: 600;
}

/* post-details*/
.post-title h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.post-info {
  text-align: center;
}

.post-date {
  font-size: 1rem;
  color: #76848e;
}

.seperator {
  text-align: center;
  margin: 1.5rem 0;
}

.post-description {
  font-size: 1.5rem;
}

.post-img {
  text-align: center;
}

.post-img img {
  width: 100%;
}

.blog-content p {
  word-break: break-word;
}

.blog-content a {
  color: #76848e;
}

.blog-content a::before {
  content: '\21d2';
  top: 0;
  left: 0;
  position: relative;
  width: 50%;
  margin-right: 6px;
}

.blog-content p img {
  width: 100%;
}

/* footer eklenecek... */